header .nav-item .nav-link {
  position: relative;
}
header .nav-item .nav-link .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 100%;
}

footer {
  background-color: #333333;
  color: #d6d6d6;
  z-index: 1020;
}
footer .copyright-wrapper {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fa-star {
  color: #f7d200;
}

.home {
  flex-grow: 1;
}
.home__banner {
  width: 100%;
  height: 450px;
  background: url("./img/adolescent-casual-cute-elegant-428338.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .home__banner {
    height: 200px;
  }
}
.home .card {
  margin: auto;
  margin-bottom: 16px;
  text-align: center;
  border: none;
}
.home .products {
  padding: 16px 0;
}
.home .products .filter-wrapper label {
  color: #5c5c5c;
}
.home .products .item__image {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .home .products .item__image {
    height: auto;
  }
}
.home .products .item__name {
  margin: 0;
}
.home .products .item__price {
  color: #7c7c7c;
}

.product {
  flex-grow: 1;
  padding: 16px 0;
}
.product__image {
  width: 100%;
}
.product form .input {
  margin-bottom: 16px;
}
.product form .input__quantity {
  margin-top: 24px;
  width: fit-content;
}
.product form .input__quantity input {
  text-align: center;
}
.product .reviews {
  border-top: 1px solid #eaeaea;
}
.product .reviews__sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.product .reviews__sort p {
  margin: 0;
}
.product .reviews__content .review {
  padding: 8px 0;
}
.product .reviews__content .review:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.product .reviews__content .review__name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .reviews__content .review__name {
  margin: 0;
  font-weight: bold;
}
.product .reviews__content .review__rating {
  color: #f7d200;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.login-page .login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-page .login-wrapper form {
  width: 100%;
}

.checkout-page {
  flex-grow: 1;
  padding: 16px 0;
}
.checkout-page .checkout-card {
  margin-bottom: 16px;
}
.checkout-page .checkout__summary--body {
  max-height: 400px;
  overflow-y: auto;
}
.checkout-page .checkout__summary--item {
  display: flex;
  padding: 8px 0;
}
.checkout-page .checkout__summary--item:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.checkout-page .checkout__summary--image {
  max-width: 50px;
}
.checkout-page .checkout__summary--image img {
  width: 100%;
}
.checkout-page .checkout__summary--details {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  padding: 4px 0;
  width: 100%;
}

.checkout-page .checkout__summary--details .subtotal {
  min-width: 50px;
}
.checkout-page .checkout__summary--quantity .input-group {
  max-width: 150px;
  text-align: center;
}

.checkout-page .checkout__summary--quantity .input-group .quantity-selector {
  background-color: #fff;
}

.input-group-append,
.input-group-prepend {
  cursor: pointer;
}

.checkout-page .checkout__total {
  padding: 16px 0;
  border-top: 1px solid #eaeaea;
}
.checkout-page .checkout__total p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.cart-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 56px;
  padding: 8px;
  width: 400px;
  height: 100vh;
  background-color: #f7f7f7;
  box-shadow: 4px 0 10px #000;
  z-index: 99;
  transform: translate(100%, 0);
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .cart-container {
    width: 220px;
  }
}
.cart-container .btn {
  position: relative;
  margin-top: 16px;
  z-index: 1020;
}
.cart-container .cart-toggle-btn {
  position: absolute;
  bottom: 80px;
  left: -54px;
  width: 40px;
  height: 40px;
}
.cart-container .cart-toggle-btn .float-cart-btn {
  border-radius: 100%;
}
.cart-container .cart-toggle-btn .cart-badge {
  position: absolute;
  top: 0;
  border-radius: 100%;
}
.cart-container .cart-items {
  max-height: 600px;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .cart-container .cart-items {
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .cart-container .cart-items {
    max-height: 500px;
  }
}
.cart-container .cart-item {
  display: flex;
  padding: 8px 0;
}
.cart-container .cart-item:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.cart-container .cart-item__image {
  max-width: 80px;
}
.cart-container .cart-item__image img {
  width: 100%;
}
.cart-container .cart-item__price {
  margin: 0;
}
.cart-container .cart-item__details {
  margin-left: 8px;
}
.cart-container .cart-item__details p {
  margin: 0;
}

.show-cart {
  transform: translate(0, 0);
}

.profile-page {
  flex-grow: 1;
  padding: 16px 0;
}
.profile-page .profile__tab-title {
  margin: 0;
}
.profile-page .profile-data {
  margin-top: 16px;
  padding: 8px;
  border: 1px solid #eaeaea;
}
.profile-page .profile-data p {
  margin: 0;
  padding: 8px 0;
}
.profile-page .profile-data p:not(:last-of-type) {
  border-bottom: 1px solid #eaeaea;
}
.profile-page .orders {
  margin-top: 16px;
}
.profile-page .orders .order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #eaeaea;
}
@media screen and (max-width: 767px) {
  .profile-page .orders .order {
    flex-direction: column;
    align-items: flex-start;
  }
}
.profile-page .orders .order__date {
  display: flex;
  flex-direction: column;
}
.profile-page .addresses {
  margin-top: 16px;
}
.profile-page .addresses .address {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #eaeaea;
}
.profile-page .addresses .address .fa-map-marker-alt {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 8px;
}
.profile-page .addresses .address__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-page .addresses .address__details p {
  margin: 0;
}
.profile-page .addresses .address__details--name {
  font-weight: bold;
}
.profile-page .wishlists {
  margin-top: 16px;
  border: 1px solid #eaeaea;
}
.profile-page .wishlists .wishlist {
  display: flex;
  margin: 8px;
  padding: 8px 0;
  margin-bottom: 8px;
}
.profile-page .wishlists .wishlist:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.profile-page .wishlists .wishlist__image {
  max-width: 70px;
  margin-right: 8px;
}
.profile-page .wishlists .wishlist__image img {
  width: 100%;
}
.profile-page .wishlists .wishlist__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile-page .wishlists .wishlist__details p {
  margin: 0;
}
.profile-page .wishlists .wishlist__details--name {
  font-weight: bold;
}

.dashboard-page {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.dashboard-page .dashboard__sidebar {
  position: relative;
  width: 300px;
  height: 100vh;
  background-color: #f8f9fa;
  z-index: 1020;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .dashboard-page .dashboard__sidebar {
    position: fixed;
    width: 240px;
  }
}
.dashboard-page .dashboard__sidebar .sidebar__menu .menu-item {
  padding: 8px 16px;
}
.dashboard-page
  .dashboard__sidebar
  .sidebar__menu
  .menu-item:not(:last-of-type) {
  border-bottom: 1px solid #eaeaea;
}
.dashboard-page .dashboard__sidebar .sidebar__menu .menu-item.active {
  background-color: #202020;
  color: #fff;
}
.dashboard-page .dashboard__toggle-btn {
  position: absolute;
  top: 8px;
  right: -48px;
}
.dashboard-page .show-sidebar {
  margin-left: -300px;
}
@media screen and (max-width: 767px) {
  .dashboard-page .show-sidebar {
    margin-left: -240px;
  }
}
.dashboard-page .main {
  padding: 16px;
  width: 100%;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .dashboard-page .main {
    padding-top: 56px;
  }
}
.dashboard-page .main__overview {
  padding: 16px;
  box-shadow: 0 0 8px #8f8f8f;
}
.dashboard-page .main__header {
  border-bottom: 1px solid #eaeaea;
}
.dashboard-page .main__body {
  padding: 24px 0;
}
.dashboard-page .main__body .summary {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .dashboard-page .main__body .summary {
    margin-bottom: 16px;
  }
}
.dashboard-page .main__body .summary__value {
  margin: 0;
}

.products__item {
  display: flex;
}

.products__item-image {
  max-width: 50px;
  margin-right: 4px;
}

.orders__item {
  display: flex;
}

.orders__item-image {
  max-width: 50px;
  margin-right: 4px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .add-wishlist {
    display: none !important;
  }
}

.order-success-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-success-page .order-check {
  font-size: 60px;
  color: rgb(16, 179, 1);
}
